body{

margin: 0;
background: #f0f0f0;
font-family:Arial;
text-align:center;
padding-top:60px;

min-height: 100vh;          
    display: flex;              
    flex-direction: column;     

}


.box{

display:flex;
justify-content:center;
gap:20px;
margin-top:40px;

}

.num{
    width:80px;
    height:80px;

    background: linear-gradient(145deg, #ffffff, #dcdcdc);
    border-radius:15px;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:40px;
    font-weight:bold;

    box-shadow: 
        6px 6px 12px #c8c8c8,
        -6px -6px 12px #ffffff;

    transition: all 0.2s ease;
}

.result-table {
    margin: 60px auto;
    border-collapse: collapse;
    width: 400px;
    table-layout: fixed;
    background: #f5f5f5;
}

.result-table td {
    border: 1px solid #ccc;
    padding: 12px 20px;
    font-size: 18px;
    width: 50%;
}

.result-table td:first-child {
    text-align: left;
}

.result-table td:last-child {
    text-align: right;
    font-weight: bold;
}
.container{
   display: flex;
   justify-content: center;
   align-items: flex-start;
   gap: 30px;
   max-width: 1200px;   
   margin: 0 auto;      
   flex: 1;
}

.content{
   width: 100%;
   max-width: 900px;
   background: #ffffff;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.ads img{
    width: 220px;
    display: block;
    margin-bottom: 15px;
}
.num:active{
    box-shadow:
        inset 6px 6px 12px #c8c8c8,
        inset -6px -6px 12px #ffffff;
}
.footer{
    background: #b30000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    margin-top: 40px;
}