body{

background:#ffffff;
font-family:Arial;
text-align:center;
padding-top:60px;

}

.box{

display:flex;
justify-content:center;
gap:20px;
margin-top:40px;

}

.num{

width:80px;
height:80px;
background:#eee;

display:flex;
align-items:center;
justify-content:center;

font-size:40px;
font-weight:bold;

border-radius:10px;

}